<div class="container text-center mt-2 mb-5 text-light">
  <h4>Contato</h3>
    <div class="row mt-2 bg-dark rounded-2 p-4 h6">
      <div class="col-6">
        <span>E-mail</span><br>
        <span>lucascostadeveloper@gmail.com</span>
      </div>
      <div class="col-6">
        <span>Github</span><br>
        <a class="text-light" style="width: max-content; text-decoration: none;" href="https://github.com/LucasCosta0011">https://github.com/LucasCosta0011</a>
      </div>
    </div>
    <div class="row mt-2 bg-light rounded-2 p-4 h6">
      <div class="col-12 text-dark">
        <span>{{ page.frase }}</span><br>
        <span>{{page.pag}}</span>
      </div>
    </div>
   
</div>