<div class="container text-center mt-5">
  <h4>Gostaria de trabalhar comigo?</h3>
    <div class="row mt-2">
      <div class="col-6 bg-light">
        <span>E-mail</span><br>
        <a style="width: max-content; text-decoration: none;" href="lucascostadeveloper@gmail.com">lucascostadeveloper@gmail.com</a>
      </div>
      <div class="col-6 bg-light">
        <span>Github</span><br>
        <a style="width: max-content; text-decoration: none;" href="https://github.com/LucasCosta0011">https://github.com/LucasCosta0011</a>
      </div>
    </div>
   
</div>